/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

*/

body {
  min-width: 1152px;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container_12 {
	margin-left: auto;
	margin-right: auto;
	width: 1152px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 12px;
	margin-right: 12px;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .grid_1 {
	width:72px;
}

.container_12 .grid_2 {
	width:168px;
}

.container_12 .grid_3 {
	margin-top: -50px;
	width:264px;
}

.container_12 .grid_4 {
	width:360px;
}

.container_12 .grid_5 {
	width:456px;
}

.container_12 .grid_6 {
	width:552px;
}

.container_12 .grid_7 {
	width:648px;
}

.container_12 .grid_8 {
	margin-top: -125px;
	width:744px;
}

.container_12 .grid_9 {
	width:840px;
}

.container_12 .grid_10 {
	width:936px;
}

.container_12 .grid_11 {
	width:1032px;
}

.container_12 .grid_12 {
	width:1128px;
}


/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
